/* Remove padding around article-meta by stripping from main container */ 
.single main {
	padding: 0em !important; 
}

/* Adding padding back */ 
.article {
	padding: 1em;
}

/* Unround */
.article-meta {
	border-radius: 0px;
}