// Your variable overrides
$font-family-sans-serif: "Rosario";
$body-bg: #f7f7f7;
$primary: #107786;
$info: #E3F0EE;
$secondary: #14303C;
$body-color: #2c2c2c;
$link-color: #2c2c2c;
$link-decoration: underline;
$link-hover-color: transparentize($link-color, .3);

// Bootstrap and its default variables
@import "bootstrap/scss/bootstrap";